In [3]:
import json
import requests
import os
import time
import getpass
from huggingface_hub import notebook_login

from datasets import load_dataset
from fireworks.client import Fireworks
from pydantic import BaseModel, Field
from transformers import AutoTokenizer
import pandas as pd

In [2]:
os.environ["FIREWORKS_API_KEY"] = getpass.getpass("fireworks api:")

In [4]:
notebook_login()

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.sv…

In [5]:
client = Fireworks(api_key=os.environ["FIREWORKS_API_KEY"])

model_id = "meta-llama/Meta-Llama-3-8B"
tokenizer = AutoTokenizer.from_pretrained(model_id)

/home/markt/.local/lib/python3.11/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [7]:
sample_data = pd.read_csv('english-danish-openai.csv')
sample_data

,English,Danish
0,The cat sat on the windowsill watching the bi...,Katten sad på vindueskarmen og kiggede på fugl...
1,She baked a delicious chocolate cake for her f...,Hun bagte en lækker chokoladekage til sin vens...
2,The new park in the city center has become a p...,Den nye park i byens centrum er blevet et popu...
3,He quickly realized that learning a new langua...,"Han indså hurtigt, at det at lære et nyt sprog..."
4,The old castle on the hill offers a beautiful ...,Det gamle slot på bakken tilbyder en smuk udsi...
...,...,...
114,He enjoyed listening to classical music while ...,"Han nød at lytte til klassisk musik, mens han ..."
115,The old library was filled with countless trea...,Det gamle bibliotek var fyldt med utallige ska...
116,She spent her afternoons tending to her garden.,Hun tilbragte sine eftermiddage med at passe s...
117,The children's laughter echoed in the playground.,Børnenes latter genlød på legepladsen.
118,He captured the beauty of nature through his l...,Han indfangede naturens skønhed gennem sin linse.

In [9]:
training_samples = sample_data[:75]
validation_samples = sample_data[75:100]
test_samples = sample_data[100:120]

training_samples

,English,Danish
0,The cat sat on the windowsill watching the bi...,Katten sad på vindueskarmen og kiggede på fugl...
1,She baked a delicious chocolate cake for her f...,Hun bagte en lækker chokoladekage til sin vens...
2,The new park in the city center has become a p...,Den nye park i byens centrum er blevet et popu...
3,He quickly realized that learning a new langua...,"Han indså hurtigt, at det at lære et nyt sprog..."
4,The old castle on the hill offers a beautiful ...,Det gamle slot på bakken tilbyder en smuk udsi...
...,...,...
70,The recipe for the dish was passed down from h...,Opskriften på retter blev givet videre fra hen...
71,The river flowed gently through the picturesqu...,Floden flød stille gennem den maleriske dal.
72,He rescued a stray cat and gave it a loving home.,Han reddede en herreløs kat og gav den et kærl...
73,The charity event raised funds for a good cause.,Velgørenhedsarrangementet indsamlede midler ti...
74,She took a pottery class to learn a new skill.,Hun tog et keramik kursus for at lære en ny fæ...